{% extends 'base.html' %} {% block content %}
<h1 style="margin-bottom: 15px;">Memes</h1>

<form  class="gray-box" style="margin-bottom: 25px;" action="/user/search" method="GET">
    <div>
      <p >Search by Username: &nbsp; </p>
      <p style="font-size: x-small; text-align: left;">(Must match username perfectly)</p>
    </div>
    &nbsp;
    <input type="search" value="do a barrel roll" onClick="this.select();" name="search">
    <button type="submit" class="submit-btn"></button>
</form>

<div class="container">
    {% for meme in memes %}
    <div class="box">
        <div class="meme" style="margin: 0 auto;">
            {% if meme.top_text == None %} {% elif meme.top_text|length > 10 %}
            <p style="font-size: {{ meme.font_size }}; color: {{meme.text_color}}; background-color: {{meme.font_background_color}}; font-family: {{meme.font}}; " class="top long-string">{{meme.top_text}}</p>
            {% else %}
            <p style="font-size: {{ meme.font_size }}; color: {{meme.text_color}}; font-family: {{meme.font}}; background-color: {{meme.font_background_color}}; " class="top short-string">{{meme.top_text}}</p>
            {% endif %}
            <img class="photo" src="{{meme.photo_URL}}" alt="pic" />
            {% if meme.bottom_text == None or meme.face != '' %} 
            {% elif meme.bottom_text|length > 10 %}
            <p style="font-size: {{ meme.font_size }}; color: {{meme.text_color}}; font-family: {{meme.font}}; background-color: {{meme.font_background_color}}; " class="bottom long-string">{{meme.bottom_text}}</p>
            {% else %}
            <p style="font-size: {{ meme.font_size }}; color:{{meme.text_color}}; font-family:{{meme.font}}; background-color: {{meme.font_background_color}}; " class="bottom short-string">{{meme.bottom_text}}</p>
            {% endif %}
            {% if meme.face == '' %}
            {% else %}
            <img class="face" src="{{ meme.face }}" alt="">
            {% endif %}
        </div>
        <div class="gray-box" style="margin: 20px 0 10px 10px;">
            <p>
                Created By: <a href="/memes/user/{{meme.user.id}}">{{meme.user.username}}</a><br /> on {{ meme.created_on }}
            </p>
            <div class="like-box">
                <p> {{meme.likes.all|length }} 
                    <a href="/memes/{{ meme.id }}/like"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="box" style="padding-top: 0;">
        <div>
            <img src="https://i.imgur.com/NvTQUwq.gif" alt="" class="photo" style="width: 300px; height: 300px; margin-left: 10px;"/>
        </div>
        <div class="gray-box" style="margin-left: 10px;">
            <p style="margin: 0;">
                Created By: <a href="http://localhost:8000/user/search?search=do+a+barrel+roll">Barrel Roll</a><br /> on Sept. 23, 2020
            </p>
            <div class="like-box">
                <p> 101
                    <a href="http://localhost:8000/user/search?search=do+a+barrel+roll"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}