{% extends 'base.html' %} {% block content %}
<h1>Memes</h1>
<div class="container">
    {% for meme in memes %}
    <div class="box">
        <div class="meme">
            {% if meme.top_text|length > 10 %}
            <p class="top long-string">{{meme.top_text}}</p>
            {% else %}
            <p class="top short-string">{{meme.top_text}}</p>
            {% endif %}
            <img class="photo" src="{{meme.photo_URL}}" alt="pic" />
            {% if meme.top_text|length > 10 %}
            <p class="bottom long-string">{{meme.bottom_text}}</p>
            {% else %}
            <p class="bottom short-string">{{meme.bottom_text}}</p>
            {% endif %}
        </div>
        <p style="text-align: center;">Created By: <a href="">{{meme.user.username}}</a><br> on {{ meme.created_on }}</p>
    </div>

    {% endfor %} </div>
{% endblock %}