{% extends 'base.html' %} {% block content %}
<h1>Memes</h1>
<div class="container">
    {% for meme in memes %}
    <div class="box">
        <div class="meme">
            <p class="top">{{meme.top_text}}</p>
            <img class="photo" src="{{meme.photo_URL}}" alt="pic" />
            <p class="bottom">{{meme.bottom_text}}</p>
        </div>
        <p style="text-align: center;">Created By: <a href="">{{meme.user.username}}</a><br> on {{ meme.created_on }}</p>
    </div>

    {% endfor %} </div>
{% endblock %}