{% extends 'base.html' %} {% block content %}
<h1>My Memes</h1>
<div class="container">
    {% for meme in memes %}
    <div class="box">
        <div class="meme">
            {% if meme.top_text|length == 0 %} {% elif meme.top_text|length > 10 %}
            <p style="color: {{ meme.get_text_color_display }};" class="top long-string">{{meme.top_text}}</p>
            {% else %}
            <p style="color: {{ meme.get_text_color_display }};" class="top short-string">{{meme.top_text}}</p>
            {% endif %}
            <img class="photo" src="{{meme.photo_URL}}" alt="pic" /> {% if meme.bottom_text|length == 0 %} {% elif meme.bottom_text|length > 10 %}
            <p style="color: {{ meme.get_text_color_display }};" class="bottom long-string">{{meme.bottom_text}}</p>
            {% else %}
            <p style="color: {{ meme.get_text_color_display }};" class="bottom short-string">{{meme.bottom_text}}</p>
            {% endif %}
        </div>
        <div class="gray-box" style="margin: 10px 0 10px 10px">
            <div>
                <p style="text-align: center; margin: 5px 0 0">
                    Created On: {{ meme.created_on }}
                </p>{% if meme.user == request.user %}
                <nav style="margin-bottom: 5px">
                    <a href="{% url 'memes_update' meme.id %}">Edit</a>
                    <a href="{% url 'memes_delete' meme.id %}">Delete</a>
                </nav>{% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}