{% extends 'base.html' %} {% block content %}
<h1></h1>
<div class="box" style="padding-bottom: 10px;">
    {% if object %}
    <h1 style="margin: 10px 0 0;">Edit Meme</h1>
    <div class="meme" style="margin: 0 auto;">
        {% if meme.top_text|length > 10 %}
        <p class="top long-string">{{meme.top_text}}</p>
        {% else %}
        <p class="top short-string">{{meme.top_text}}</p>
        {% endif %} {% if meme.photo_set.all|length > 0 %}
        <img class="photo" src="{{ photo.url }}"> {% else %}
        <img class="photo" src="{{meme.photo_URL}}" alt="pic" /> {% endif %}{% if meme.top_text|length > 10 %}
        <p class="bottom long-string">{{meme.bottom_text}}</p>
        {% else %}
        <p class="bottom short-string">{{meme.bottom_text}}</p>
    </div>
    <p style="margin: 10px;"></p>
    {% endif %} {% else %}
    <h1 style="margin: 10px 0 0 10px;">New Meme</h1>
    {% endif %}
</div>


<form class="gray-box" action="{% url 'add_photo' %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <table>
        {{ form.as_table }}

        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" value="" class="submit-btn" />

    </table>
</form>
{% endblock %}