{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Meme World</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        {% if user.is_authenticated %}
          <a href="{% url 'index' %}">Memes</a>
          <a href="{% url 'logout' %}">Log Out - {{user.username}}</a>
        {% else %}
          <a href="{% url 'login' %}">Log In</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}  
      </nav>
    </header>
    <main>
        {% block content %} 
        {% endblock %} 
    </main>
    <footer>
      <p>We Rock</p>
    </footer>
  </body>
</html>
