{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/3RZY6YJ.png" />
    <title>Home - Meme World</title>
</head>

  <body class="home-body">
      <main class="home-main">
    <div class="homepage">
      <p class="meme_word">MEME</p>
      <a href="/"><img src="https://i.imgur.com/3RZY6YJ.png?2" /></a>
      <p class="meme_word">WORLD</p>
    </div>
    <div class="home_bottom">
      <nav style="justify-content: center;">
        <a href="{% url 'index' %}"  class="home_nav">Memes</a> 
        &nbsp; &nbsp; | &nbsp; &nbsp; 
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"  class="home_nav">
          <i class="fa fa-sign-out" aria-hidden="true"></i> - {{user.username}}
        </a>
        {% else %} 
        <a href="{% url 'login' %}"  class="home_nav"">
          <i class="fa fa-sign-in"aria-hidden="true"></i> - Login
        </a>
        {% endif %}
        &nbsp; &nbsp; | &nbsp; &nbsp; 
        <a  class="home_nav" href="{% url 'signup' %}" >Sign Up</a>
      </nav>
    </div>
    <h1></h1>
    <h1></h1>
</main>
        <footer>
            <p>Website Developed By:</p>
            <p>
                Amanda Claproth
                <a target="_blank" href="https://www.linkedin.com/in/amanda-claproth-8b90501b1/
        ">
                    &nbsp;
                    <i class="fa fa-linkedin-square" style="font-size: 25px; color: rgb(0, 162, 255)"></i>
                </a>
                <a target="_blank" href="https://github.com/Aclap427">
                    &nbsp;
                    <i class="fa fa-github" style="font-size: 25px; color: rgb(0, 162, 255)">
                    </i>
                </a>
                <a href="mailto:amanda.claproth@gmail.com">
                    &nbsp;
                    <i class="fa fa-envelope" style="font-size: 25px; color: rgb(0, 162, 255)">
                    </i>
                </a>
                &nbsp; | &nbsp; Charles MacMillan
                <a target="_blank" href="https://www.linkedin.com/in/charles-macmillan/">
                    &nbsp;
                    <i class="fa fa-linkedin-square" style="font-size: 25px; color: rgb(0, 162, 255)"></i>
                </a>
                <a target="_blank" href="https://github.com/charlesmacmillan">
                    &nbsp;
                    <i class="fa fa-github" style="font-size: 25px; color: rgb(0, 162, 255)">
                    </i>
                </a>
                <a href="mailto:charlesmacmillanpro@gmail.com">
                    &nbsp;
                    <i class="fa fa-envelope" style="font-size: 25px; color: rgb(0, 162, 255)">
                    </i>
                </a>
            </p>
        </footer>
  </body>
</html>
